*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body{
	background-image: url('../image/logo.jpg');
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-size: cover;
}

.container{
	background-color: #5C636A;
	width: 50%;
	padding: 30px;
	margin-top: 50px;
	border-radius: 10px;
	border-width: 20px;
	border-color: black;
}
label{
	color: yellow;
	margin-top: 10px;
}
input{
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
}
button{
	width: 100%;
	margin-top: 10px;
}
select{
	width: 100%;
	padding: 10px;
}